.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 235px;
    height: 226px;
    box-shadow: 10px 10px 0px #7c5e99;
    
}

@media (min-width: 220px) and (max-width: 710px) {
    .card-project {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        width: 80px;
        height: 90px;
        box-shadow: 5px 5px 0px #7c5e99;
        
    }

}

