.main-banner {
    display: flex;
    background-image: url(../../assets/img/nelsonlego.png);
    height: 1080px;
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
}

.wrapper {
    padding-top: 125px;
    padding-left: 90px;
}
.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .main-box {
    margin-bottom: 40px;

}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;

}
