.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec {
    width: 400px;
    margin-bottom: 38px;

}

.wrapper-skill .skill-tec:nth-child(odd) {
    margin-right: 100px;
}

.wrapper-skill .progress-bar-html {
    width: 329px;
}

.wrapper-skill .progress-bar-css {
    width: 329px;
}

.wrapper-skill .progress-bar-javascript {
    width: 320px;
}

.wrapper-skill .progress-bar-react {
    width: 320px;
}

.wrapper-skill .progress-bar-nodejs {
    width: 325px;
    
}

.wrapper-skill .progress-bar-tdd {
    width: 320px;
}

.wrapper-skill .progress-bar-restapi {
    width: 320px;
}

.wrapper-skill .progress-bar-ux {
    width: 320px;
}

